[submodule "ada_lib"]
	path = ada_lib
	url = git@github.com:wbullaughey/ada_lib.git
[submodule "aunit"]
	path = aunit
	url = git@github.com:wbullaughey/aunit.git
[submodule "vendor/github.com/gnoga"]
	path = vendor/github.com/gnoga
	url = git@github.com:wbullaughey/gnoga
[submodule "vendor/github.com/gpr"]
   path = vendor/github.com/gpr
   url = git@github.com:wbullaughey/gpr

[submodule "vendor/github.com/AdaCore/gnatcoll-core"]
	path = vendor/github.com/AdaCore/gnatcoll-core
	url = git@github.com:wbullaughey/gnatcoll.git
